<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tambah Buku
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tambah Buku</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Silakan isi form berikut untuk menambahkan buku ke dalam daftar.</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Judul Buku</ion-label>
        <ion-input [(ngModel)]="judul" placeholder="Masukkan judul buku"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Jenis Buku</ion-label>
        <ion-select [(ngModel)]="jenis" placeholder="Pilih jenis buku">
          <ion-select-option value="Fiksi">Fiksi</ion-select-option>
          <ion-select-option value="Non-Fiksi">Non-Fiksi</ion-select-option>
          <ion-select-option value="Teknologi">Teknologi</ion-select-option>
          <ion-select-option value="Pendidikan">Pendidikan</ion-select-option>
          <ion-select-option value="Biografi">Biografi</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Pengarang</ion-label>
        <ion-input [(ngModel)]="pengarang" placeholder="Masukkan nama pengarang"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tahun Terbit</ion-label>
        <ion-select [(ngModel)]="tahun_terbit" placeholder="Pilih tahun terbit">
          <ion-select-option value="2025">2025</ion-select-option>
          <ion-select-option value="2024">2024</ion-select-option>
          <ion-select-option value="2023">2023</ion-select-option>
          <ion-select-option value="2022">2022</ion-select-option>
          <ion-select-option value="2021">2021</ion-select-option>
          <ion-select-option value="2020">2020</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">ISBN</ion-label>
        <ion-input [(ngModel)]="isbn" placeholder="Masukkan kode ISBN"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Keterangan</ion-label>
        <ion-textarea [(ngModel)]="keterangan" placeholder="Tambahkan keterangan jika ada..."></ion-textarea>
      </ion-item>

      <ion-button expand="block" (click)="addBuku()" color="primary">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        Simpan Buku
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
